<style>
  #header {
    position: sticky;
    top: 0px;
  }
</style>
<div id="header" class="bg-white p-3">
  <a href="/">
    <h2 class="font-bold mx-5">
      <span class="px-2 py-3 mr-1 rounded font-bold bg-black text-white">T</span
      >echInf
    </h2>
  </a>
</div>
