<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Techinf | Not found</title>
    <link rel="stylesheet" href="/public/404.css" />
  </head>
  <body class="flex flex-col h-screen justify-center items-center">
    <div class="p-4 border-2 text-xl rounded border-violet-500">
      Error 404
      <br />
      <span class="text-sm"> Page not found </span>
    </div>
    <div
      onclick="location='/'"
      class="p-3 my-6 rounded bg-violet-500 text-white font-semibold"
    >
      Homepage
    </div>
  </body>
</html>
