<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Techinf | Admin</title>
    <link rel="stylesheet" href="./../public/login.css" />
    <link rel="stylesheet" href="./../public/login_.css" />
  </head>
  <body>
    <div id="body">
      <div id="login_body">
        <!-- Logo -->
        <div id="header" class="w-full mb-5">
          <a
            href="
          /"
          >
            <h2 class="font-bold mx-5">
              <span class="px-2 py-3 mr-1 rounded font-bold bg-black text-white"
                >T</span
              >echInf
            </h2>
          </a>
        </div>
        <form action="/login" method="post">
          <div id="inputs" class="mt-10">
            <div id="username" class="flex flex-row rounded justify-between">
              <div id="img_h">
                <img src="./../public/User100(2).png" alt="" />
              </div>
              <div class="w-full">
                <input
                  type="text"
                  name="username"
                  placeholder="Write username"
                  required
                  minlength="3"
                  class="w-full p-3 rounded text-sm font-sans text-black outline-none"
                />
              </div>
            </div>

            <div
              id="password"
              class="flex flex-row mt-5 rounded justify-between"
            >
              <div id="img_h">
                <img src="./../public/Password100.png" alt="" />
              </div>
              <div class="w-full">
                <input
                  type="password"
                  name="password"
                  placeholder="*****"
                  required
                  minlength="3"
                  class="w-full p-3 rounded text-sm font-sans text-black outline-none"
                />
              </div>
            </div>
          </div>
          <div id="btn_login" class="flex justify-center mt-5">
            <button
              class="px-4 py-2 rounded bg-blue-800 text-sm font-bold text-white"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
