// For PC
// Set all background-images from the html file
body {
  word-wrap: break-word;
}
@media (min-width: 640px) {
  #top_news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
    overflow: hidden;
  }
  #first {
    // padding: 2em;
    width: 40%;
    display: flex;
    flex-direction: column;
    #one,
    #two {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    #one {
      background-size: cover;
      background-repeat: no-repeat;
    }

    #below {
      background-color: rgba(0, 0, 0, 0.725);
      padding: 1em;
      bottom: 0;
      width: 100%;
      color: white;
      font-size: 13px;
    }
  }
  #second {
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 60%;
    #below {
      padding: 1em;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      letter-spacing: 0.5px;
      background-color: rgba(0, 0, 0, 0.725);
    }
  }
  #other_news {
    min-height: 300px;
    margin: 2em 0em;
    .item {
      width: 30%;
    }
    #below {
      background: rgba(0, 0, 0, 0.426);
    }
  }
}
#indicator {
  width: 150px;
  margin: 2em 1em;
  background-color: rgb(26, 23, 17);
  padding: 0.4em;
  font: bold;
}
// Phone
@media (max-width: 640px) {
  #other_news {
    color: white;
    .item {
      min-height: 100px;
    }
    #below {
      padding: 0.5em;
      height: 70px;
    }
  }
}
