body {
  word-wrap: break-word;
}
img {
  pointer-events: none;
}
#title {
  h2 {
    width: 70%;
    text-align: center;
  }
}
#snippet > p {
  width: 70%;
  text-align: center;
  margin-top: 2em;
}
@media (min-width: 640px) {
  #image_holder {
    img {
      max-width: 60%;
    }
  }
}
@media (max-width: 640px) {
  #image_holder img {
    max-width: 90%;
  }
}

#post_comment,
#comments_holder {
  display: none;
}
